<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/codemirror.css">
    <script src="lib/codemirror.js"></script>
    <title>Document</title>
</head>
<body>


<p th:text=${sessionName}></p>
<form action="" method="post">
<textarea id="myTextarea" th:text=${code}>

</textarea>

<button type="submit">
    Run Code
</button>
</form>


<script>
    var editor = CodeMirror.fromTextArea(myTextarea, {
      lineNumbers: true
    });
  </script>


</body>
</html>