*{
    font-family: 'Montserrat', sans-serif;

    }
    html{
    overflow-x:hidden;
    color: #231773;
    }

    a:hover{
    text-decoration: none;
    }
    footer{
    background-color: #ebedf2;
    overflow: hidden;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    top: 5em;
    padding-top: 3em;
    padding-right: 13%;
    padding-left: 13%;
    margin-left: -50vw;
    margin-right: -50vw;
    }
    .footer-logo
    {
    width:200px;
    height: 90px
    }
    ul {
    padding-left: 5%;
    padding-bottom:5%;
    }
    li.borderless { 
    background-color: transparent;
    border: 0 none; 
    padding-bottom:0;
    padding-top:0;
    font-weight:700;
    letter-spacing:.5px;
    }

    .footer-column-header{
    font-size: 1.3vw;
    }

    .footer-brand{
    font-size: .8vw;
    font-weight: 500;
    }
    .third-column{
    position:relative;
    right: 50%
    }

   li{
         color: #231773;
    }