*{
    font-family: "metropolis";
}  
.navbar{
    padding-right: 20em;
    padding-left: 20em; 
}
.nav-link {
padding: 500px;  
font-weight: bold;
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
color: #231773;
padding: 12px 0px;
margin: 0px 20px;
display: inline-block;
position: relative;
opacity: 0.75;
}
.nav-link:hover {
opacity: 1;
transition: 300ms;
animation: ease-in-out;
letter-spacing: .5px;

}
.nav-link::before {
transition: 300ms;
animation: ease-in-out;
height: 3px;
content: "";
position: absolute;
background-color: #231773;
}
.nav-link-ltr::before {
width: 0%;
bottom: 10px;
}
.nav-link-ltr:hover::before {
width: 100%;
}
#SIGNIN {
  color: #231773;
  background-color: #ACAff2;
  font-weight: bold;
  border-radius: 50px;
}
#SIGNIN:hover{
    color: #EBEDF2;
    background-color: #231773;
}
.navbar-scroll {
background: #ffffff;
padding-right: 10em;
padding-left: 10em; 
padding-top: 0;
padding-bottom: 0;
top: -2.3em;
height: 165px;
/*box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);*/
transition-duration: 0.6s;
transition: 300ms;
animation: ease-in-out;
}
.nav-dropdown-scroll {
  background: #e7eaea;
  /*box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);*/
}

.toggle{
  background-color: transparent;
  border: none;
}

.toggle:hover{
  background-color: transparent;
  border: none;
}

a {
  text-decoration:none;
}



.dropdown-wrapper {
width:200px;
position:relative;
margin:50px auto;

}
.dropdown-wrapper::after {
content: '';
position: absolute;
top: 20px;
right: 10px;
border-color: #333 transparent transparent;
border-width: 6px;
border-style: solid;
}
.dropdown-wrapper::before {
content: '';
position: absolute;
top: 20px;
right: 10px;
border-color: #eee transparent transparent;
border-width: 6px;
border-style: solid;
}
.dropdown-wrapper:hover::after {
border-color: #111 transparent transparent;	
}

.dropdown {
  padding:5px;
z-index:999;
  padding-right:13px;
  border-radius: 50px;
background:#B6CAF2;
display: flex;
align-items: center;
justify-content: center

}
.dropdown:hover {
 display:flex;
cursor:pointer;
background:#C4C1D9;
}
.dropdown .name {
font-size:14px;
 font-weight: 600;
color:#3D6AF2;
line-height:26px;
margin-left:10px;
}
.dropdown .name:hover {
color:#0088cc;
}
.dropdown-image {
  float:left;
display:inline;
float:left;
border-radius:25px;
box-shadow:0 0 3px rgba(0, 0, 0, 0.5) inset;
}

/* hide menu */
.dropdown-menu {
background:#c4c1d9;
color:#3D6AF2;
border: none;
}
.dropdown-menu li {
font-size:16px;
text-align: center;
margin:0;
  padding: 10px 4px;

}
.dropdown-menu li a {
font-weight: 600;
}
.dropdown-menu li:hover > a{
color:#0088cc;
letter-spacing: .0em;
border: none;
transition: .2s;
}

.dropdown-menu li:hover{
font-weight: 600;
}

/* hover dropdown show menu */
.dropdown-menu:hover .menu {
display:block;

}




.dropdown .dropdown-menu {
display:block;
z-index:-999;
padding-top: 16px;
border-bottom-left-radius: 25px; 
  border-bottom-right-radius: 25px;
transform: translate(0px, -20px);
width:100%;
-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  min-width: 100%;
  overflow: hidden;
  opacity: 0;
}



.dropdown:hover .dropdown-menu {
    max-height: 200px;
     opacity: 1;
}


.profile-image{
  border-radius: 100%;
}
.forum-body{
  font-weight: 400;
  font-size: 1em;
}
.post-info{
  padding-left:20px;
  cursor:default;
}

td{
  display: block;
}

.forum-reply{
  padding-top:3em;
  width: 80%;
  color: #231773;
}