.container{
    float: left;
    padding-left: 10%;
}

.post-summary{
    padding-bottom: 10px;
    
}

.post-tags{
    padding-bottom: 30px;
}

.post-summary-link{
    color: #231773;
}

.post-tags{
    padding-left: 10px;
}

.tags{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: #acb0f2;
    color: #231773;
    border: none;
    font-weight: 500;
}

.tags:hover{
    background-color: #231773;
    color: #ebedf2;
}