    
.wrapper {
    width: 100%;
    max-width: 31.25rem;
    margin: 6rem auto;
  }
  
  .label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
  }
  
  .searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #searchQueryInput {
    width: 100%;
    height: 3rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 5rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1.3rem;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }
  
  
  
  /*tabs*/
  ul { /** works with ol too **/
      list-style: none; /** removes bullet points/numbering **/
      padding-left: 0px; /** removes actual indentation **/
  }
  .nav-f > li > a.active {
      position: relative;
      overflow: hidden;
      color:#072BF2;
      border-bottom: 2px solid #231773;
      padding-bottom: 0;
  }
  
  .nav-f > li > a{
    font-weight: 500;
    font-size: 1.1em;
    padding-bottom: 0;
  }
  
  .nav-f > li {
      padding-left: 50px;
      padding-top: 2em;
     
  }
  
  .nav-f > li ::after {
      content: '';
      display: block;
      padding-bottom: 0;
      width: 0;
      height: 2px;
      background: #231773;
      transition: width .2s;
  }
  
  
   .nav-f > li >:hover::after {
      width: 100%;
      transition: width .2s;
  }
  
  
  
  /*pagination*/
  .pagination>li:hover {
      background: #4b50bf;
  }
  
  .pagination {
      display: inline-block;
      width: 100%;
  }
  
  .pagination>li{
      color: black;
      display:inline-block;
      cursor: pointer;
      background-color: #acb0f2;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px; 
      justify-content: center;
      transition: background-color .3s;
  }
  
  .pagination>li.active {
      background-color: #231773;
      color: white;
  }
  
  .pagination a {
      color: #ebedf2;
      font-size: 15px;
      font-weight: 400;
  }
  
  .post-body-summary{
    color: #231773;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.1em;
    padding-bottom: 2.5em;
  }
  
  .post-summary-link{
      color: #231773;
      padding:0;
      padding-bottom: -50px;
      text-decoration: none;
  }